{% extends 'base.html' %}

{% block title %}Update 화면{% endblock title %}

{% block content %}
    <form action="{% url 'articles:update' article.pk %}" method="POST">
        {% csrf_token %}
        <label for="title">제목: </label>
        <input type="text" name="title" value="{{ article.title }}"><br>
        <label for="content">내용: </label>
        <input type="text" name="content" value="{{ article.content }}"><br>
        <input type="submit" value="수정">
    </form>
    {% comment %} <a href="{% url 'articles:index' %}">뒤로 돌아가기</a> {% endcomment %}
{% endblock content %}